name: Demo Workflow

on:
  push:
    branches:
      - main
  pull_requests:
    - main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
      - uses: actions/step-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
      - run: npm install

      - name: Run tests
      - run: npm test
